<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ellen.musicplayer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name=" android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:name=".App"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.activity.PlayActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.activity.SerachActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.activity.PiFuSettingActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.activity.SortActivity"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.activity.ManyChooseActivity"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.activity.NearMusicActivity"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.activity.GeDanManagerActivity"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.activity.LikeActivity"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.activity.GeDanActivity"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.activity.DinShiActivity"
            android:launchMode="singleTask"/>

        <service android:name=".service.DinShiService"/>
    </application>

</manifest>